@using WebApplication14.Models
@model IEnumerable<WebApplication14.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        @Html.Partial("Summary", Model)
    </div>
    <div class="card">
        @Html.Partial("Editor", new Person())
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.3/rxjs.umd.min.js"></script>
<script>
</script>